.main-wrapper{
	position: relative;
	overflow: hidden;
	padding: 0;
	margin: 0 auto;
	width: 100%;
	min-height: 100%;
	text-align: left;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
	-ms-flex-direction: column;
	-webkit-box-pack: start;
	justify-content: flex-start;	
	-webkit-justify-content: flex-start;	
	-ms-flex-pack: start;
}
header{
	background: url(../img/header/header-bg.jpg) center center no-repeat;
	width: 100%;
	-webkit-box-ordinal-group: 2;
	-ms-flex-order: 1;
	order: 1;
	-webkit-order: 1;
}
.header__wrapper{
	position: relative;
	padding: 0;
	margin: 0 auto;
	width: 100%;
	min-height: 100%;
	min-width: 320px;
	max-width: 1170px;
	text-align: left;
}
.header__top{
	background: rgba(0,0,0,0.7);
	padding: 16px 0;
}
.header__logo{
	display: inline-block;
	text-decoration: none;
}
.header__logo-left, .header__logo-right{
	display: inline-block;
}
.header__logo-right{
	margin-left: 6px;
}
.header__atop{
	font-family: museo-sans-cyrl-900;
	font-size: 31px;
	color: #fff;
	span{
		color: #ea3180;
	}
}
.header__sub{
	font-family: museo-sans-cyrl-100;
	color: #fff;
	font-size: 12px;
}
.header__menu-nav, .header__info{
	display: inline-block;
	vertical-align: top;
}
.header__info{
  margin-top: 16px;
  float: right;
  max-width: 362px;
  width: 100%;
}
.header__menu{
  list-style: none;
  margin-top: 18px;
	padding-left: 30px;
  li{
		float: left;
    a{
			display: block;
			text-decoration: none;
			font-size: 16px;
			font-family: museo-sans-cyrl-100;
			color: #fff;
			margin-right: 14px;
			&:hover{
				color: #ea3180;
			}
    }
  }
}
.header__phone{
	font-family: museo-sans-cyrl-900;
	color: #fff;
	font-size: 20px;
	text-decoration: none;
	float: left;
}
.header__call{
	cursor: pointer;
	-webkit-appearance: none;
	outline: none;
	-webkit-transition: all 0.3s linear;
	transition: all 0.3s linear;
	display: block;
	text-align: center;
	width: 100%;
	margin: auto;
	border-radius: 0;
	font-size: 14px;
	font-family: museo-sans-cyrl-700;
	color: #ea3180;
	border: 2px solid #ea3180;
	border-radius: 12px;
	padding: 8px 0;
	max-width: 150px;
	float: right;
	position: relative;
	top: -6px;
}
.header__phone, .header__call{
	display: inline-block;
}
.header__bottom{
	background: rgba(0,0,0,0.5);
	padding-top: 38px;
	padding-bottom: 270px;
}
h1{
	font-family: museo-sans-cyrl-900;
	color: #fff;
	font-size: 48px;
}
.header__data{
	font-family: museo-sans-cyrl-100;
	color: #fff;
	font-size: 24px;
	span{
		font-family: museo-sans-cyrl-900;
		color: #ea3180;
	}
}
.header__calc-wrap{
	position: relative;
}
#header__calc{
	width: 100%;
	background: #fff;
	padding: 48px 54px 42px 54px;
	position: absolute;
	top: 52px;
	-webkit-box-shadow: 1px 1px 6px #d6d6d6, -1px -1px 6px #d6d6d6;
	box-shadow: 1px 1px 6px #d6d6d6, -1px -1px 6px #d6d6d6;
}
.header__calc-head{
	font-family: museo-sans-cyrl-900;
	font-size: 36px;
	color: #ea3180;
}
.header__calc-head, .header__step, .header__step-number, .header__caption{
	display: inline-block;
}
.header__step{
	float: right;
	margin-top: 8px;
}
.header__step-number{
	font-family: museo-sans-cyrl-900;
	font-size: 24px;
	color: #ea3180;
}
.header__caption{
	margin-right: 16px;
	div{
		width: 15px;
		height: 15px;
		border-radius: 50%;
		background: #e8e8e8;
		display: inline-block;
		margin-right: 8px;
	}
	.active{
		background: #ea3180;
	}
}
.header__tip{
	margin-bottom: 54px;
}
.header__question{
	font-family: museo-sans-cyrl-900;
	font-size: 20px;
	color: #8f8f8f;
	margin-bottom: 16px;
}
.header__label{
	display: inline-block;
	cursor: pointer;
	position: relative;
	padding-left: 25px;
	font-size: 20px;
	font-family: museo-sans-cyrl-100;
	color: #767676;
	margin-bottom: 10px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	&:before{
		content: "";
		display: inline-block;
		width: 16px;
		height: 16px;
		position: absolute;
		left: 0;
		bottom: 4px;
		background-color: #e8e8e8;
		border-radius: 50%;
	}
}
.header__radio[type=radio] {
	display: none;
	&:checked + label:before{
    content: "\2022";
    color: #ea3180;
    font-size: 30px;
    text-align: center;
    line-height: 14px;
	}
}
.header__parts{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 28px;
}
.header__tab{
  display: none;
}
.header__tab.active{
  display: block;
}
.header__ask{
	width: 20px;
	height: 20px;
	border-radius: 50%;
	text-align: center;
	color: #fff;
	background: #e8e8e8;
	font-family: museo-sans-cyrl-900;
	cursor: pointer;
	font-size: 14px;
	padding-top: 2px;
	position: relative;
	top: -3px;
	margin-left: 8px;
	z-index: 3;
	&:hover{
		background: #ea3180;
	}
}
.header__ask-wrap{
	position: relative;
	display: inline-block;
}
.header__ask-content{
	padding: 18px 20px;
	font-family: museo-sans-cyrl-100;
	font-size: 16px;
	color: #8f8f8f;
	width: 300px;
	height: 108px;
	background: #f9f9f9;
	-webkit-box-shadow: 1px 1px 4px #d6d6d6, -1px -1px 4px #d6d6d6;
	box-shadow: 1px 1px 4px #d6d6d6, -1px -1px 4px #d6d6d6;
	z-index: 999;
	opacity: 0;
	position: absolute;
	left: 56px;
	top: -46px;
  line-height: 24px;
  visibility: hidden;
	transition: all 0.3s linear;
	transform: scale(0.6);
}
.header__ask:hover + .header__ask-content{
  opacity: 1;
	visibility: visible;
	transform: scale(1);
}
.header__number{
	width: 110px;
	height: 46px;
	border: 1px solid #c5c5c5;
	color: #000;
	font-size: 16px;
	font-family: museo-sans-cyrl-100;
	display: inline-block;
	padding: 0 10px;
}
.header__number::-webkit-input-placeholder {
  color: #aaaaaa;
}
.header__number::-moz-placeholder {
  color: #aaaaaa;
}
.header__number:-moz-placeholder {
  color: #aaaaaa;
}
.header__number:-ms-input-placeholder {
  color: #aaaaaa;
}
.header__icon-on{
	display: inline-block;
	font-family: museo-sans-cyrl-900;
	font-size: 20px;
	color: #ea3180;
	padding: 0 12px;
}
.header__check-label{
	display: inline-block;
	cursor: pointer;
	position: relative;
	padding-left: 25px;
	font-size: 20px;
	font-family: museo-sans-cyrl-100;
	color: #767676;
	margin-bottom: 10px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	&:before{
		content: "";
		display: inline-block;
		width: 16px;
		height: 16px;
		position: absolute;
		left: 0;
		bottom: 4px;
		background-color: #e8e8e8;
		border-radius: 4px;
	}
}
.header__check[type=checkbox] {
	display: none;
	&:checked + label:before{
		content: "\2713";
    color: #ea3180;
    font-size: 24px;
    text-align: center;
    line-height: 14px;
 		font-weight: bold;
	}
}
.header__cl-left{
	margin-right: 48px;
}
.header__extra-left, .header__farther{
	display: inline-block;
}
.header__farther{
	float: right;
	-webkit-appearance: none;
	outline: none;
	-webkit-transition: all 0.3s linear;
	transition: all 0.3s linear;
	text-align: center;
	width: 100%;
	border-radius: 10px;
	font-size: 20px;
	font-family: museo-sans-cyrl-900;
	color: #fff;
	max-width: 238px;
	text-decoration: none;
	padding: 12px 0;
	margin-top: 12px;
	border: 0;
	background: #f7a238;
	background: -moz-linear-gradient(top, #f7a238 0%, #e19333 49%, #e19333 51%, #c6822d 100%);
	background: -webkit-linear-gradient(top, #f7a238 0%,#e19333 49%,#e19333 51%,#c6822d 100%);
	background: linear-gradient(to bottom, #f7a238 0%,#e19333 49%,#e19333 51%,#c6822d 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7a238', endColorstr='#c6822d',GradientType=0 );
	&:hover{
		background: #c6822d;
		background: -moz-linear-gradient(top, #c6822d 0%, #e19333 49%, #e19333 51%, #f7a238 100%);
		background: -webkit-linear-gradient(top, #c6822d 0%,#e19333 49%,#e19333 51%,#f7a238 100%);
		background: linear-gradient(to bottom, #c6822d 0%,#e19333 49%,#e19333 51%,#f7a238 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c6822d', endColorstr='#f7a238',GradientType=0 );
	}
	img{
		margin-left: 6px;
	}
}
.header__farther_submit{
	float: right;
	-webkit-appearance: none;
	outline: none;
	-webkit-transition: all 0.3s linear;
	transition: all 0.3s linear;
	text-align: center;
	width: 100%;
	border-radius: 10px;
	font-size: 20px;
	font-family: museo-sans-cyrl-900;
	color: #fff;
	max-width: 238px;
	text-decoration: none;
	padding: 12px 0;
	margin-top: 12px;
	border: 0;
	background: #f7a238;
	background: -moz-linear-gradient(top, #f7a238 0%, #e19333 49%, #e19333 51%, #c6822d 100%);
	background: -webkit-linear-gradient(top, #f7a238 0%,#e19333 49%,#e19333 51%,#c6822d 100%);
	background: linear-gradient(to bottom, #f7a238 0%,#e19333 49%,#e19333 51%,#c6822d 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7a238', endColorstr='#c6822d',GradientType=0 );
	&:hover{
		background: #c6822d;
		background: -moz-linear-gradient(top, #c6822d 0%, #e19333 49%, #e19333 51%, #f7a238 100%);
		background: -webkit-linear-gradient(top, #c6822d 0%,#e19333 49%,#e19333 51%,#f7a238 100%);
		background: linear-gradient(to bottom, #c6822d 0%,#e19333 49%,#e19333 51%,#f7a238 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c6822d', endColorstr='#f7a238',GradientType=0 );
	}
	img{
		margin-left: 6px;
	}
}

/* media requests */

@media screen and (max-width: 1199.5px){

	.header__wrapper{
		max-width: 970px;
		padding: 0 15px;
	}
	.header__info{
		float: none;
		margin: 0 auto;
		margin-top: 22px;
	}
	.header__wrap{
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}

}

@media screen and (max-width: 991.5px){

	header{
		background-size: cover;
	}
	.header__wrapper{
		max-width: 750px;
	}
	.header__wrap{
		justify-content: center;
	}
	.header__bottom{
		padding-bottom: 52px;
	}
	.header__menu-nav{
		margin: 10px 0;
	}
	h1{
		font-size: 40px;
		text-align: center;
	}
	.header__data{
		font-size: 20px;
		text-align: center;
		margin-bottom: 52px;
	}
	#header__calc{
    padding: 28px 34px;
    position: relative;
    top: 0;
	}
	.header__calc-head{
		text-align: center;
		display: block;
	}
	.header__step{
		float: none;
		margin-top: 20px;
		display: block;
		text-align: center;
	}
	.header__tip{
		margin-bottom: 40px;
	}
	.header__part3{
		margin: 0 auto;
		margin-top: 20px;
		margin-bottom: 30px;
	}
	.header__parts{
		margin-bottom: 0;
	}
	.header__farther{
		float: none;
		display: block;
		margin: 0 auto;
		margin-top: 12px;
	}
	.header__farther_submit{
		float: none;
		display: block;
		margin: 0 auto;
		margin-top: 12px;
	}
	.header__ask-content{
		left: -184px;
    top: -126px;
	}
	
}

@media screen and (min-width: 768px){

	.br-768{
		display: none;
	}
	.br-767{
		display: block;
	}

}

@media screen and (max-width: 767.5px){

	.header__wrapper{
		max-width: 320px;
		padding: 0 10px;
	}
	.header__logo-right{
		max-width: 246px;
		text-align: center;
	}
	.br-768{
		display: block;
	}
	.header__logo-left{
		position: relative;
		top: -8px;
	}
	.header__logo{
		display: block;
		margin: 0 auto;
		margin-bottom: 4px;
	}
	.header__menu{
		padding-left: 0;
		margin-bottom: 0;
		li{
			float: none;
			display: inline-block;
			width: 49%;
			a{
				margin-right: 0;
				text-align: center;
				margin-bottom: 10px;
			}
		}
	}
	.header__menu-nav{
		margin: 0;
	}
	.header__phone, .header__call{
		display: block;
		float: none;
	}
	.header__phone{
		text-align: center;
		margin-bottom: 20px;
	}
	.header__info{
		margin-top: 12px;
	}
	.header__bottom{
		padding-top: 18px;
	}
	.br-767{
		display: none;
	}
	h1{
		font-size: 28px;
	}
	.header__data{
		margin-bottom: 36px;
	}
	#header__calc {
    padding: 20px;
    position: relative;
    top: 0;
	}
	.header__calc-head{
		font-size: 24px;
	}
	.header__step-number{
		font-size: 20px;
	}
	.header__tip{
		margin-bottom: 22px;
	}
	.header__question, .header__label, .header__check-label{
		font-size: 18px;
	}
	.header__part1, .header__part2{
		margin-bottom: 16px;
	}
	.header__part3{
		margin-top: 0;
		margin-bottom: 16px;
	}
	.header__number{
		width: 108px;
	}
	.header__check-label:before{
		bottom: initial;
		top: 2px;
	}
	.header__farther, .header__farther_submit{
		margin-top: 0;
	}
	.header__extra-left{
		margin-bottom: 16px;
	}
	.header__bottom{
		padding-bottom: 40px;
	}
	.header__ask-content {
    left: -140px;
    top: -108px;
    width: 260px;
    padding: 12px;
    height: 94px;
    font-size: 15px;
	}

}