.technology{
	margin-top: 310px;
}
h2{
	font-family: museo-sans-cyrl-900;
	font-size: 36px;
	color: #ea3180;
	margin-bottom: 90px;
}
.technology__tabs-content {
  display: none;
}
.technology__tabs-content.active {
  display: block;
}
.technology__tabs{
	width: 100%;
}
.technology__tabs-caption{
	background: #f9f9f9;
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-left: 0;
	margin-bottom: 32px;
	li{
		text-align: center;
		padding: 14px 0;
		position: relative;
		font-family: museo-sans-cyrl-900;
		font-size: 20px;
		color: #8f8f8f;
		min-width: 292px;
		border-right: 2px solid #fff;
		cursor: pointer;
		user-select: none;
		&:last-child{
			border-right: none;
		}
	}
	li.active{
		color: #ea3180;
		&:after{
			content: '';
			display: block;
			position: absolute;
			left: 50%;
			bottom: -10px;
			margin-left: -28px;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 10px 28px 0px 28px;
			border-color: #f9f9f9 transparent transparent transparent;
		}
	}
}
.img-responsive{
	display:block;
	max-width:100%;
	height:auto;
}
.technology__bathroom{
	position: relative;
}
.technology__wrap{
	position: absolute;
	width: 100%;
	max-width: 388px;
}
.technology__wrap-pulse1{
	top: 124px;
	left: 68px;
}
.technology__wrap-pulse2{
	top: 502px;
	left: 220px;
}
.technology__wrap-pulse3{
	top: 238px;
	right: 214px;
}
.technology__wrap-pulse4{
	top: 402px;
	right: 70px;
}
.technology__wrap_reverse{
	.technology__pulse{
		right: 0;
	}
	.technology__head{
		left: 186px;
	}
	.technology__content{
		right: 0;
		&:after{
			right: -12px;
			left: initial;
			border-width: 19px 0px 19px 12px;
			border-color: transparent transparent transparent rgba(255,255,255,0.9);
		}
	}
}
.technology__pulse{
	height: 22px;
	width: 22px;
	background-color: #ea3180;
	border-radius: 100%;
	position: absolute;
	cursor: pointer;
	-webkit-animation-delay: .6s;
	animation-delay: .6s;
	&:hover + .technology__content{
		opacity: 1;
		transform: scale(1);
		& + .technology__head{
			opacity: 0;
			transform: scale(0.6);
		}
	}
}
.technology__pulse:after,
.technology__pulse:before {
	content: '';
	position: absolute;
	left: 50%;
	bottom: 0;
	top: 0;
	background-color: #ea3180;
	border-radius: 100%;
	-webkit-animation: pulse 2s infinite ease-in-out;
	animation: pulse 2s infinite ease-in-out;
}
.technology__pulse:before {
	margin: auto 0 auto -22px;
	height: 44px;
	width: 44px;
	opacity: .5;
	-webkit-animation-delay: .6s;
	animation-delay: .6s;
}
.technology__pulse:after {
	margin: auto 0 auto -32px;
	height: 64px;
	width: 64px;
	-webkit-animation-delay: .2s;
	animation-delay: .2s;
	opacity: .25;
}
@-webkit-keyframes pulse {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
@keyframes pulse {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
.technology__head{
	font-family: museo-sans-cyrl-900;
	font-size: 20px;
	color: #fff;
	position: absolute;
	top: 28px;
	left: 44px;
  z-index: 1;
  opacity: 1;
	transition: all 0.3s linear;
	transform: scale(1);
}
.technology__content{
	background: rgba(255,255,255,0.9);
	width: 100%;
	max-width: 320px;
	height: 150px;
  padding: 20px 26px;
  position: relative;
  top: -64px;
  right: -68px;
  z-index: 2;
  opacity: 0;
	transition: all 0.3s linear;
	transform: scale(0.6);
  &:after{
  	content: '';
  	display: block;
  	position: absolute;
  	top: 50%;
  	margin-top: -19px;
  	left: -12px;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 19px 12px 19px 0;
		border-color: transparent rgba(255,255,255,0.9) transparent transparent;
  }
}
.technology__content-head{
	font-size: 16px;
	font-family: museo-sans-cyrl-900;
	color: #ea3180;
	margin-bottom: 10px;
}
.technology__content-text{
	font-size: 15px;
	line-height: 21px;
	color: #767676;
	font-family: museo-sans-cyrl-100;
	span{
		color: #ea3180;
	}
}

/* media requests */

@media screen and (max-width: 1199.5px){

	.technology__tabs-caption li{
		min-width: 234px;
	}
	.technology {
    margin-top: 350px;
	}
	h2{
		margin-bottom: 70px;
	}
	.technology__wrap-pulse1{
		left: 58px;
	}
	.technology__wrap-pulse2{
    top: 402px;
    left: 174px;
	}
	.technology__wrap-pulse3 {
    top: 186px;
    right: 176px;
	}

}

@media screen and (max-width: 992px){

	.technology__wrap{
		display: block;
	}

}

@media screen and (max-width: 991.5px){

	.technology {
		margin-top: 60px;
	}
	h2{
		margin-bottom: 46px;
		font-size: 33px;
	}
	.technology__tabs-caption li{
    min-width: 178px;
    font-size: 18px;
	}
	.technology__wrap{
		display: none;
	}

	
}

@media screen and (max-width: 767.5px){

	h2{
		font-size: 26px;
		margin-bottom: 26px;
	}
	.technology{
		margin-top: 40px;
	}
	.technology__tabs-caption li{
		min-width: 100%;
		border-right: 0;
		border-bottom: 2px solid #fff;
		&:last-child{
			border-bottom: 0;
		}
	}
	.technology__tabs-caption{
		margin-bottom: 2px;
	}

}
