@font-face {
  font-family: "museo-sans-cyrl-100";
  src: url("../fonts/museo-sans-cyrl-100/museo-sans-cyrl-100.eot");
  src: url("../fonts/museo-sans-cyrl-100/museo-sans-cyrl-100.eot?#iefix") format("embedded-opentype"), url("../fonts/museo-sans-cyrl-100/museo-sans-cyrl-100.woff") format("woff"), url("../fonts/museo-sans-cyrl-100/museo-sans-cyrl-100.woff2") format("woff2"), url("../fonts/museo-sans-cyrl-100/museo-sans-cyrl-100.ttf") format("truetype"), url("museo-sans-cyrl-100.svg#museo-sans-cyrl-100") format("svg");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "museo-sans-cyrl-700";
  src: url("../fonts/museo-sans-cyrl-700/museo-sans-cyrl-700.eot");
  src: url("../fonts/museo-sans-cyrl-700/museo-sans-cyrl-700.eot?#iefix") format("embedded-opentype"), url("../fonts/museo-sans-cyrl-700/museo-sans-cyrl-700.woff") format("woff"), url("../fonts/museo-sans-cyrl-700/museo-sans-cyrl-700.woff2") format("woff2"), url("../fonts/museo-sans-cyrl-700/museo-sans-cyrl-700.ttf") format("truetype"), url("museo-sans-cyrl-700.svg#museo-sans-cyrl-700") format("svg");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "museo-sans-cyrl-900";
  src: url("../fonts/museo-sans-cyrl-900/museo-sans-cyrl-900.eot");
  src: url("../fonts/museo-sans-cyrl-900/museo-sans-cyrl-900.eot?#iefix") format("embedded-opentype"), url("../fonts/museo-sans-cyrl-900/museo-sans-cyrl-900.woff") format("woff"), url("../fonts/museo-sans-cyrl-900/museo-sans-cyrl-900.woff2") format("woff2"), url("../fonts/museo-sans-cyrl-900/museo-sans-cyrl-900.ttf") format("truetype"), url("museo-sans-cyrl-900.svg#museo-sans-cyrl-900") format("svg");
  font-style: normal;
  font-weight: normal;
}

.transition(@time: .2s, @function: linear, @element: all) {
	transition: @element @time @function
}

body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	font-family: 'DietDidot';
	font-size: 16px;
	&.scroll-block {
		overflow: hidden;
	}
}

* {
	box-sizing: border-box;
	outline: none;
}

.container {
	width: 100%;
	margin: 0 auto;
	max-width: 1440px;
	padding: 0 30px;
	position: relative;
}
p {
  margin: 0;
}
button {
  cursor: pointer;
  outline: none;
}


::-webkit-input-placeholder 				{color: rgba(0, 0, 0, 0.4);}
::-moz-placeholder          				{color: rgba(0, 0, 0, 0.4);}
:-moz-placeholder           				{color: rgba(0, 0, 0, 0.4);}
:-ms-input-placeholder      				{color: rgba(0, 0, 0, 0.4);}

select {
	appearance: none;
}

input[type='number'] {
	-moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
}

@import "sections/index/index";
@import "sections/header/header";
@import "sections/content/content";
@import "sections/technology/technology";
